fastapi
uvicorn
python-multipart
sqlalchemy
passlib[bcrypt]
bcrypt
python-jose[cryptography]
pydantic[email]
transformers
torch
numpy
pandas
scikit-learn
opencv-python-headless
Pillow
librosa
soundfile
joblib
fer==22.4.0
tensorflow
deepface
python-dotenv
setuptools